{{!< default}}

<main class="site-main">

    <div class="post-feed gh-feed gh-canvas">
        {{#get "posts" limit="10"}}
            {{#foreach posts}}
                {{> "loop"}}
            {{/foreach}}
        {{/get}}
    </div>

    {{pagination}}

</main>